{% extends 'base.html.twig' %}

{% block title 'SC - Modifier vos lien' %}

{% block body %}

    <div class="container">
        {{ form_start(form) }}
            <button type='submit' class="btn btn-primary">Modifier</button>
        {{ form_end(form) }}
    </div>

{% endblock %}