{% extends 'base.html.twig' %}

{% block title 'Edition de profil' %}

{% block body %}

{{ form_start(form) }}
    <button type='submit' class="btn btn-primary">Crée</button>
{{ form_end(form) }}

{% endblock %}